body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

table {
    border: 2px solid #eee;
    border-collapse: collapse;
}

thead, tfoot {
    background: #eee;
}

th,td {
    padding: 8px;
    text-align: center;
}

tbody td:first-child {
    color: red;
}
tbody td:last-child {
    color: blue;
}

tfoot {
    font-weight: bold;
}

td.disabled {
    opacity: .3;
}

td.today {
    font-weight: bold;
}

#prev, #next, #today {
    cursor: pointer;
    user-select: none;
}